.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #084851;
  overflow: hidden;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-weight: bold;
  color: #985ca8 !important;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.page-item.active {
  background-color: #985ca8;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
}
